@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h4 {
  font-size: 17.5px;
  margin: 15px 0;
  color: #141414;
  text-align: end;
}

p {
  margin: 0;
  font-size: 20px;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #343e71;
}

#quote-box {
  max-width: 500px;
  padding: 35px;
  border-radius: 15px;
  background-color: white;
}

#new-quote {
  background-color: #4c5cad;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}
#new-quote:hover {
  background-color: #373b4d;
  color: #4c5cad;  
}

#tweet-quote {
  background-color: #4c5cad;  
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
#tweet-quote:hover {
  background-color: #373b4d;
  color: #4c5cad;  
}